data/
models/
venv/
__pycache__/

*.zip
*.xml
*.pkl
# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
env/
venv/
ENV/
.venv/
*.egg-info/

# Data / models / large files
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.onnx
*.tflite
*.pb
*.log
*.mp4
*.avi
*.mov
*.mkv
*.zip
*.tar.gz

# IDE / Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Secrets / configs
.env
*.pem
*.key
*.png